<div class="form">

  <ul class="tab-group">
    <li class="tab">{{#link-to "signup"}}Sign up{{/link-to}}</li>
    <li class="tab active">{{#link-to "login"}}Log in{{/link-to}}</li>
  </ul>

  <div class="">

    <div id="login">
      <h1>Welcome Back!</h1>

      <div class="field-wrap">

        {{input type="email" value=emailAddress class="req" placeholder="Please type your e-mail address." autofocus="autofocus"}}

      </div>

      <div class="field-wrap">
        {{input type="password" value=password class="req" placeholder="Please type your e-mail password." autofocus="autofocus"}}
      </div>

      <button class="button button-block">Log In</button>

    </div>
  </div><!-- tab-content -->

</div> <!-- /form -->
